.view-header {
    display: flex;
    align-items: center;

    h2 {
        padding: 20px;
        margin: 0;
        font-size: medium;
    }
}

.header-container {
    padding: 0px 20px;
    border-radius: 16px;
    border: 1px solid #ccc;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .server-select {
        display: flex;
        align-items: center;
        margin: 0;

        .btn {
            margin-left: 5px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #f5f5f5;
            cursor: pointer;
        }

        h2 {
            margin-right: 10px;
            font-size: medium;
        }

        select {
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
    }

    .chapter-navigator {
        display: flex;
        align-items: center;
        margin: 20px 0;
        justify-content: space-between;

        select {
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        h2 {
            margin-right: 10px;
            font-size: medium;
        }
    }
}
.btn-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    .btn {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: #f5f5f5;
        cursor: pointer;
        align-items: center;
    }
}

.content {
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #ccc;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
