.wrapper {
    display: flex;
    border: 2px solid #ccc;
    border-radius: 10px;
    align-items: center;

    input {
        flex-grow: 1;
        height: 100%;
        border: none;
        outline: none;
        margin-left: 1px;
        padding: 8px 12px;
    }
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--search-button-width);
    height: 100%;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
